=content_for :header do
  = render :partial => "layouts/event_list_header"

%ul.events
  - @agent.events.each do |event|
    %li.event
      .happen-time
        = event.happen_time
      .mode
        = image_tag("#{event.mode}.png")
