<div class="ui-grid-b">
    <div class="ui-block-a"><div class="ui-bar ui-bar-e" style="height:60px">Agent</div></div>
    <div class="ui-block-b"><div class="ui-bar ui-bar-e" style="height:60px">Mood</div></div>
    <%= render @agents %>
</div><!-- /grid-c -->