=content_for :header do
  = render :partial => "layouts/agent_list_header"

%table
  %thead
    %tr
      %th
        Agent Name
      %th
        Mood
  - @agents.each do |agent|
    %tr
      %td
        = link_to agent.name, agent_events_path(agent)
      %td
        = @agents_map[agent.name]
