=content_for :header do
  = render :partial => "layouts/agent_list_header"

%ul.agents
  - @agents.each do |agent|
    %li.agent
      = link_to agent.name, agent_events_path(agent), class: "hide agent-link"
      .name= agent.name
      .mood= @agents_map[agent.name]
