=content_for :header do
  = render :partial => "layouts/header"

%h1 Add an Agent
- if @available_agents.size > 0
  %form{:action => "/agents/add"}
    %select{:name=>"id"}
      - @available_agents.each do |agent|
        %option{:value=> "#{agent.id}"} #{agent.name}
    %input{:type=>"submit", :value=>"Add"}
- else
  %p No Free Agent