=content_for :header do
  = render :partial => "layouts/header"

%h1 Add an Agent
%form{:action => "/agents/add"}
  %input#agent{:name=>"name", :type=>"text"}
  %input{:type=>"submit", :value=>"Add"}
