// Place all the styles related to the Agents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.autocomplete-suggestions {
  background-color: #DDDDDD;
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 6px 0 0 6px; /* IE6 fix: */
  _background: none;
  _margin: 1px 0 0 0;
}

.autocomplete-selected {
  background: #F0F0F0;
}

div.autocomplete-suggestion {
  padding: 2px 5px;
  white-space: nowrap;
  overflow: hidden;
}

.autocomplete-suggestion strong {
  font-weight: normal;
  color: #3399FF;
}

.header {
  text-align: center;
  position: relative;
  .account {
    font-size: 25px;
  }
  .nav {
    position: absolute;
    right: 10px;
    top: 0;
    color: #55aa77;
    font-size: 30px;
    a {
      display: inline-block;
      padding: 3px 5px 2px 5px;
      background-color: #efefef;
      border-radius: 3px;
      color: #55aa77;
      &:visited {
        color: #55aa77;
      }
    }
  }
}