// Place all the styles related to the Agents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.autocomplete-suggestions {
  background-color: #DDDDDD;
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 6px 0 0 6px; /* IE6 fix: */
  _background: none;
  _margin: 1px 0 0 0;
}

.autocomplete-selected {
  background: #F0F0F0;
}

div.autocomplete-suggestion {
  padding: 2px 5px;
  white-space: nowrap;
  overflow: hidden;
}

.autocomplete-suggestion strong {
  font-weight: normal;
  color: #3399FF;
}

.agents {
  border-bottom: 1px solid white;
  .agent {
    box-sizing: border-box;
    height: 80px;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid white;
    color: #333;
    font-size: 18px;
    line-height: 80px;
    &:first-child {
      border-top: none;
    }
    a {
      text-decoration: none;
      &:hover {
        background: none;
        color: #333;
      }
      &:visited {
        color: #333;
      }
    }
    .agent-photo {
      float: left;
      height: 60px;
      padding: 15px;
      img {
        width: 50px;
        height: 50px;
        border-radius: 5px;
      }
    }
    .description {
      text-overflow: ellipsis;
      .agent-name {
        font-weight: bold;
      }
    }
    .mood {
      float: right;
      height: 50px;
      line-height: 120px;
      margin-right: 10px;
    }
    div {
      float: left;
    }
  }
}

.mood img {
  width: 50px;
  height: 50px;
}

ul {
  list-style: none;
  padding-left: 20px;
}

.account-center-menu {
  position: absolute;
  overflow: hidden;
}

ul.account-center {
  position: relative;
  top: -50px;
  width: 100px;
  height: 48px;
  margin-left: 10px;
  border: 1px solid #5eaa8a;
  background: #5eaa8a;
  text-align: left;
  line-height: 25px;
  a {
    text-decoration: none;
    &:hover {
      background: none;
      color: #333;
    }
    &:visited {
      color: #333;
    }
  }
  li:hover {
    background: #9faa5b;
    cursor: pointer;
  }
  li {
    padding-left: 10px;
  }
  li.last {
    border-top: 1px dotted gray;
  }
}
