body, html {
  padding: 0;
  margin: 0;
  font-size: 18px;
}

.header {
  height: 60px;
  background-color: #55aa77;
  color: white;
  line-height: 60px;
  .logo {
    margin-left: 10px;
    font-size: 30px;
    font-weight: bolder;
  }
}

.content-wrapper {
  background-color: #efefef;
  min-height: 500px;
  .content {
    padding-top: 20px;
    margin: 0 auto;
  }
}

.form {
  width: 240px;
  margin: 0 auto;
  font-size: 18px;
  line-height: 30px;
  h2 {
    font-size: 24px
  }
  input {
    height: 40px;
    width: 220px;
    font-size: 16px;
  }
  label {
    font-size: 14px;
  }
  .shared-links {
    font-size: 12px;
  }
}

input[type="submit"] {
  width: 220px;
  height: 50px;
  background-color: #55aa77;
  color: white;
  border: none;
  border-radius: 3px;
  margin-top: 20px;
}


input[type="email"],
input[type="password"] {
  border: none;
}

input[type="checkbox"]{
  width: 20px;
}