body, html, fieldset {
  padding: 0;
  margin: 0;
  font-size: 18px;
  border: none;
}

fieldset {
  margin-bottom: 10px;
}

.header {
  height: 60px;
  background-color: #55aa77;
  color: white;
  line-height: 60px;
  .logo {
    margin-left: 10px;
    font-size: 30px;
    font-weight: bolder;
  }
}

.content-wrapper {
  background-color: #efefef;
  min-height: 500px;
  .content {
    padding-top: 20px;
    margin: 0 auto;
  }
}

.form {
  width: 280px;
  margin: 0 auto;
  font-size: 18px;
  line-height: 30px;
  h2 {
    font-size: 22px
  }
  input {
    height: 50px;
    width: 275px;
    font-size: 18px;
  }
  label {
    font-size: 18px;
    display: block;
  }
  .shared-links {
    font-size: 14px;
  }
  textarea {
    height: 60px;
  }
  .remember-me {
    line-height: 55px;
    label {
      display: inline-block;
      font-size: 16px;
    }
  }
  #account_manager_remember_me {
    float: left;
  }
}

input[type="submit"] {
  width: 275px;
  height: 50px;
  background-color: #55aa77;
  color: white;
  border: none;
  border-radius: 3px;
  -webkit-appearance: none;
}

input[type="email"],
input[type="password"],
input[type="text"],
input[type="number"],
textarea  {
  box-sizing: border-box;
  border: none;
  font-size: 18px;
  width: 275px;
  border: 1px solid #ddd;
  border-radius: 5px;
  -webkit-appearance: none;
}

input[type="checkbox"]{
  width: 20px;
}
