.header {
  height: 50px;
  background-color: #55aa77;
  color: white;
  line-height: 50px;
  .logo {
    margin-left: 10px;
    font-size: 28px;
    font-weight: bolder;
  }
}

.header {
  box-shadow: 0px 2px 3px #aaa;
  text-align: center;
  position: relative;
  .title {
    font-size: 25px;
  }
  .nav {
    position: absolute;
    color: #55aa77;
    font-size: 26px;
    text-align: center;
    box-sizing: border-box;
    &.right {
      right: 10px;
      top: 0;
    }
    &.left {
      left: 10px;
      top: 0;
    }
    a {
      display: inline-block;
      padding: 4px 5px 4px 5px;
      width: 25px;
      background-color: #efefef;
      border-radius: 3px;
      color: #55aa77;
      &:visited {
        color: #55aa77;
      }
    }
  }
}

.content-wrapper {
  background-color: #efefef;
  .content {
    margin: 0 auto;
  }
}

.form {
  padding-top: 30px;
  width: 250px;
  margin: 0 auto;
  font-size: 18px;
  line-height: 30px;
  h2 {
    font-size: 22px;
  }
  input {
    height: 50px;
    width: 250px;
    font-size: 18px;
  }
  label {
    font-size: 18px;
    display: block;
  }
  .shared-links {
    font-size: 14px;
  }
  textarea {
    height: 60px;
  }
  .remember-me {
    line-height: 55px;
    label {
      display: inline-block;
      font-size: 16px;
    }
  }
  #account_manager_remember_me {
    float: left;
  }
}

input[type="submit"] {
  width: 250px;
  height: 50px;
  background-color: #55aa77;
  color: white;
  border: none;
  border-radius: 3px;
  -webkit-appearance: none;
}

input[type="email"],
input[type="password"],
input[type="text"],
input[type="number"],
textarea  {
  box-sizing: border-box;
  border: none;
  font-size: 18px;
  width: 250px;
  border: 1px solid #ddd;
  border-radius: 5px;
  -webkit-appearance: none;
}

input[type="checkbox"]{
  width: 20px;
}

.mode img {
  width: 50px;
  height: 50px;
}

.hide {
  display: none;
}

.clearfix {
  overflow: hidden;
  _zoom: 1;
}