// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.events {
  margin: 0;
  list-style: none;
  padding-left: 0px;
  font-size: 18px;
  border-bottom: 1px solid white;
  li {
    height: 60px;
    padding: 5px;
    line-height: 60px;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid white;
    font-size: 18px;
    a {
      text-decoration: none;
      &:hover {
        background: none;
        color: #333;
      }
      &:visited {
        color: #333;
      }
    }
    div {
      display: inline-block;
      padding-left: 5px;
      vertical-align: middle;
      line-height: 35px;
    }
    .mode {
      float: right;
      margin: 5px 10px 5px 0px;
    }
  }
}

.event-detail {
  margin: 0 20px 0 20px;
  .event-type {
    font-size: 25px;
  }
  .time {
    display: inline-block;
  }
  .mood {
    display: inline-block;
  }
}